<h2>My Heroes</h2>

<div>
  <form [formGroup]="form">
    <label for="hero-name">Hero name: </label>
    <input formControlName="name" id="hero-name" #heroName />

    <label for="hero-strength">Strength: </label>
    <input formControlName="strength" id="hero-strength" #heroStrength />

    <label for="hero-speed">Speed: </label>
    <input formControlName="speed" id="hero-speed" #heroSpeed />

    <label for="hero-age">Age: </label>
    <input formControlName="age" id="hero-age" type="number" #heroAge />
  </form>

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="add(form.value); heroName.value = ''"
  >
    Add hero
  </button>
</div>

<p-table [value]="heroes">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="name">
        Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="strength">
        Strength <p-sortIcon field="strength"></p-sortIcon>
      </th>
      <th pSortableColumn="strength">
        Speed <p-sortIcon field="speed"></p-sortIcon>
      </th>
      <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>
        {{ hero.id }}

        <button
          type="button"
          class="delete"
          title="delete hero"
          (click)="delete(hero)"
        >
          x
        </button>
      </td>
      <td>
        <a routerLink="/detail/{{ hero.id }}">{{ hero.name }}</a>
      </td>
      <td>{{ hero.strength }}</td>
      <td>{{ hero.speed }}</td>
      <td>{{ hero.age }}</td>
    </tr>
  </ng-template>
</p-table>
